{% extends 'base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block body %}
	<section id="banner" class="d-flex align-items-center justify-content-center position-relative" style="background-image: url('{{ asset('build/images/marketing-digital.jpg') }}');">

		<div class="overlay"></div>
		<div class="banner-container d-flex flex-column align-items-center">
			<h1 class="banner-title fw-bold text-white">
				Search for... anything with Sera2!
			</h1>
			<p class="banner-desc text-white text-center w-75 mb-4">
				Peaple use Sera2 to create amazing classified listing sites to help																																																																																																																																																				          visitors find what they are searching for.
			</p>
			<div class="banner-form-wrapper p-4" style="background-color: rgb(79, 76, 76, 0.5)">
				<form class="banner-form d-grid" action="#" method="post">
					<input class="form-input rounded-3 w-100" type="text" name="keyWord" id="keyWord" placeholder="What are you looking for?"/>
					<input class="form-input rounded-3" type="text" name="location" id="location" placeholder="Location"/>
					<select class="form-select rounded-3" name="category" id="category">
						<option value="All">All Categories</option>
						<optgroup label="Auto">
							<option value="Boats">Boats</option>
							<option value="Cars & Trucks">Cars & Trucks</option>
							<option value="Motorcycles">Motorcycles</option>
							<option value="Parts & Accessories">Parts & Accessories</option>
							<option value="Powersports">Powersports</option>
						</optgroup>
						<optgroup label="Books">
							<option value="Children">Children</option>
							<option value="Cookbooks">Cookbooks</option>
							<option value="Fiction">Fiction</option>
							<option value="Textbooks">Textbooks</option>
							<option value="Young Adults">Young Adults</option>
						</optgroup>
						<optgroup label="Camera & Photo">
							<option value="Camcorders">Camcorders</option>
							<option value="Camera Accessories">Camera Accessories</option>
							<option value="Digital Cameras">Digital Cameras</option>
							<option value="Lenses & Filters">Lenses & Filters</option>
						</optgroup>
						<optgroup label="Cell Phones">
							<option value="Accessories">Accessories</option>
							<option value="Bluetooth Accessories">Bluetooth Accessories</option>
							<option value="PDAs & Smartphones">PDAs & Smartphones</option>
							<option value="SIM Cards">SIM Cards</option>
						</optgroup>

					</select>
					<button class="btn btn-danger text-uppercase" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
						Search
					</button>
				</form>
			</div>
		</div>
	</section>

{% endblock %}
