{% extends 'base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Bienvenue sur notre page d'accueil</h1>

		{# {% for message in app.flashes('success') %}
					<div class="alert alert-success" role="alert">{{ message }}</div>
				{% endfor %} #}


	</div>
{% endblock %}
