<nav
	class="navbar navbar-expand-lg navbar-light bg-danger">
	<!-- container wrapper -->
	<div
		class="container-fluid">
		<!-- toggle button start -->
		<button class="navbar-toggler px-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOnHover" aria-controls="#navbarOnHover" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<!-- toggle button end -->

		<!-- collapsible wrapper start -->
		<div
			class="collapse navbar-collapse" id="navbarOnHover">
			<!-- left links start -->
			<ul class="w-100 navbar-nav" style="padding-left: 10rem">
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				<!-- Navbar dropdown -->
				<li class="nav-item dropdown dropdown-hover position-static">
					<a class="nav-link dropdown-toggle d-flex align-items-center justify-content-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Categories
					</a>
					<!-- Dropdown menu -->
					<div class="dropdown-menu w-75 mt-0" aria-labelledby="navbarDropdown" style="border-top-left-radius: 0; border-top-right-radius: 0">
						<div class="d-grid justify-content-between" style="grid-template-columns: 1fr 1fr 1fr; gap: 10px">
							<div>
								<strong class="dropdown-header">
									Auto
								</strong>
								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Lorem ipsum
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Dolor sit
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Amet consectetur
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">4</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Adipisicing elit
									<span class="ads-count">4</span>
								</a>

								<strong class="dropdown-header">
									Computers
								</strong>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Explicabo voluptas
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Perspiciatis quo
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laudantium maiores
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Provident dolor
									<span class="ads-count">10</span>
								</a>

								<strong class="dropdown-header">
									Home
								</strong>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Iste quaerato
									<span class="ads-count">9</span>
								</a>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">9</span>
								</a>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Est iure
									<span class="ads-count">9</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Praesentium
									<span class="ads-count">9</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laboriosam
									<span class="ads-count">9</span>
								</a>
							</div>
							<div>
								<strong class="dropdown-header">
									Auto
								</strong>
								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Lorem ipsum
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Dolor sit
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Amet consectetur
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">4</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Adipisicing elit
									<span class="ads-count">4</span>
								</a>

								<strong class="dropdown-header">
									Computers
								</strong>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Explicabo voluptas
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Perspiciatis quo
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laudantium maiores
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Provident dolor
									<span class="ads-count">10</span>
								</a>

								<strong class="dropdown-header">
									Home
								</strong>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Iste quaerato
									<span class="ads-count">9</span>
								</a>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">9</span>
								</a>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Est iure
									<span class="ads-count">9</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Praesentium
									<span class="ads-count">9</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laboriosam
									<span class="ads-count">9</span>
								</a>
							</div>
							<div>
								<strong class="dropdown-header">
									Auto
								</strong>
								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Lorem ipsum
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Dolor sit
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Amet consectetur
									<span class="ads-count">5</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">4</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Adipisicing elit
									<span class="ads-count">4</span>
								</a>

								<strong class="dropdown-header">
									Computers
								</strong>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Explicabo voluptas
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Perspiciatis quo
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laudantium maiores
									<span class="ads-count">10</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Provident dolor
									<span class="ads-count">10</span>
								</a>

								<strong class="dropdown-header">
									Home
								</strong>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Iste quaerato
									<span class="ads-count">9</span>
								</a>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
									<span class="ads-count">9</span>
								</a>

								<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Est iure
									<span class="ads-count">9</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Praesentium
									<span class="ads-count">9</span>
								</a>

								<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laboriosam
									<span class="ads-count">9</span>
								</a>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Purchase Membership</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Aide
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">FAQ</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Commencez</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						A propos
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Contact</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Carrières</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- left links end -->
		</div>
		<!-- collapsible wrapper end -->
	</div>
	<!-- container wrapper end -->
</nav>
