<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Plateforme dédiée pour les petites annonces dans la ville d'Antananarivo Madagascar.">
		<title>
			{% block title %}
				Sera² sy Varotra Isan-karazany
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{# <link rel="stylesheet" href="{{ asset('css/main.css') }}"> #}
	</head>
	<body>

		<div class="d-flex justify-content-between px-4">
			<div class="site-info">
				<a href="" class="navbar-brand site-logo" style="font-family: Operator Mono XLight; font-style: italic">Sera²</a>
				<p class="site-description">Sera² maika isan-karazany</p>
			</div>
			<div class="d-flex align-items-center justify-content-end w-25 px-lg-0 mb-0">
				<div class="me-4">
					<a class="text-decoration-none text-info" href="#">
						<i class="fa fa-plus"></i>
						Post an Ad
					</a>
				</div>
				<div class="dropdown dropdown-hover d-flex align-items-center">
					<img src="{{ asset('build/images/mlltn.jpg') }}" alt="" class="avatar rounded-circle" width="30" height="30" style="object-fit: cover"/>

					<a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 0.5rem">Username</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="top: 30px; right: 0px">
						<a class="dropdown-item" href="#">
							<i class="fa fa-list"></i>
							Listings</a>
						<a class="dropdown-item" href="#">
							<i class="fa fa-user"></i>
							Edit profile</a>
						<a class="dropdown-item" href="#">
							<i class="fa fa-sign-out"></i>
							Logout</a>
					</div>
				</div>
			</div>
		</div>
		<nav
			class="navbar navbar-expand-lg navbar-light bg-danger">
			<!-- container wrapper -->
			<div
				class="container-fluid">
				<!-- toggle button start -->
				<button class="navbar-toggler px-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOnHover" aria-controls="#navbarOnHover" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<!-- toggle button end -->

				<!-- collapsible wrapper start -->
				<div
					class="collapse navbar-collapse" id="navbarOnHover">
					<!-- left links start -->
					<ul class="w-100 navbar-nav" style="padding-left: 10rem">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<!-- Navbar dropdown -->
						<li class="nav-item dropdown dropdown-hover position-static">
							<a class="nav-link dropdown-toggle d-flex align-items-center justify-content-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Categories
							</a>
							<!-- Dropdown menu -->
							<div class="dropdown-menu w-75 mt-0" aria-labelledby="navbarDropdown" style="border-top-left-radius: 0; border-top-right-radius: 0">
								<div class="d-grid justify-content-between" style="grid-template-columns: 1fr 1fr 1fr; gap: 10px">
									<div>
										<strong class="dropdown-header">
											Auto
										</strong>
										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Lorem ipsum
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Dolor sit
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Amet consectetur
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">4</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Adipisicing elit
											<span class="ads-count">4</span>
										</a>

										<strong class="dropdown-header">
											Computers
										</strong>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Explicabo voluptas
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Perspiciatis quo
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laudantium maiores
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Provident dolor
											<span class="ads-count">10</span>
										</a>

										<strong class="dropdown-header">
											Home
										</strong>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Iste quaerato
											<span class="ads-count">9</span>
										</a>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">9</span>
										</a>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Est iure
											<span class="ads-count">9</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Praesentium
											<span class="ads-count">9</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laboriosam
											<span class="ads-count">9</span>
										</a>
									</div>
									<div>
										<strong class="dropdown-header">
											Auto
										</strong>
										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Lorem ipsum
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Dolor sit
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Amet consectetur
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">4</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Adipisicing elit
											<span class="ads-count">4</span>
										</a>

										<strong class="dropdown-header">
											Computers
										</strong>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Explicabo voluptas
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Perspiciatis quo
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laudantium maiores
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Provident dolor
											<span class="ads-count">10</span>
										</a>

										<strong class="dropdown-header">
											Home
										</strong>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Iste quaerato
											<span class="ads-count">9</span>
										</a>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">9</span>
										</a>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Est iure
											<span class="ads-count">9</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Praesentium
											<span class="ads-count">9</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laboriosam
											<span class="ads-count">9</span>
										</a>
									</div>
									<div>
										<strong class="dropdown-header">
											Auto
										</strong>
										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Lorem ipsum
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Dolor sit
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Amet consectetur
											<span class="ads-count">5</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">4</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Adipisicing elit
											<span class="ads-count">4</span>
										</a>

										<strong class="dropdown-header">
											Computers
										</strong>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Explicabo voluptas
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Perspiciatis quo
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laudantium maiores
											<span class="ads-count">10</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Provident dolor
											<span class="ads-count">10</span>
										</a>

										<strong class="dropdown-header">
											Home
										</strong>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Iste quaerato
											<span class="ads-count">9</span>
										</a>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Cras justo odio
											<span class="ads-count">9</span>
										</a>

										<a href="#" class="dropdown-item d-flex justify-content-between align-items-center">Est iure
											<span class="ads-count">9</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Praesentium
											<span class="ads-count">9</span>
										</a>

										<a href="" class="dropdown-item d-flex justify-content-between align-items-center">Laboriosam
											<span class="ads-count">9</span>
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Purchase Membership</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Help
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="#">FAQ</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Getting Started</a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="#">Contact</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Careers</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- left links end -->
				</div>
				<!-- collapsible wrapper end -->
			</div>
			<!-- container wrapper end -->
		</nav>

		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
